# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# Flutter/Dart
**/build/
**/.dart_tool/
**/.packages
**/pubspec.lock

# VSCode
.vscode/
.history/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
*.sock

# Logs
logs/
*.log

# Coverage
coverage/
*.lcov

# Misc
.idea/
*.swp
*.swo

vendor/
composer.lock