<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}La Chaudière Agenda{% endblock %}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        main {
            flex: 1;
        }
        footer {
            margin-top: auto;
        }
    </style>
</head>
<body>
<header class="text-white p-3 mb-3">
    <div class="d-flex align-items-center bg-primary-color">
        <div class="logo-wrapper bg-white rounded-circle d-flex align-items-center justify-content-center shadow me-3" style="width:60px; height:60px; overflow:hidden;">
            <img src="logo.png" alt="Logo LaChaudièreAdmin" style="width:80px; height:80%; object-fit:contain;">
        </div>
        <h1 class="mb-0">
            <a class="text-light text-decoration-none" href="{{ url_for('redirect') }}">LaChaudière.net</a>
        </h1>
    </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light mb-4">
<div class="container">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user is not none %}
                <li><a href="{{ url_for('logout') }}">Déconnexion</a></li>
        {% endif %}    
    </ul>
</div>
</nav>

<main class="container">
    {% block content %}
        <p>Contenu par défaut</p>
    {% endblock %}
</main>

<footer class="bg-light text-center text-muted py-3 d-flex justify-content-center align-items-center flex-row">
    <div class="container d-flex justify-content-center align-items-center flex-row">
        <p class="mb-0">© 2025 LaChaudière.net</p>
        <span class="mx-2">|</span>
        <p class="mb-0">Conçu par
            <a href="https://github.com/juliennoel22">Julien</a>,
            <a href="https://github.com/MiracOK">Mirac</a>,
            <a href="https://github.com/Vivienhrm">Vivien</a>,
            <a href="https://github.com/Kemayu">Guillaume</a>
        </p>
    </div>
</footer>

</body>
</html>
