{% extends "base.twig" %}

{% block title %}Erreur{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="alert shadow-sm bg-primary-color text-white p-4 rounded">
        <h4 class="alert-heading mb-3">Erreur</h4>
        <p class="mb-3">{{ message }}</p>
        <hr class="text-white">
        <a href="{{ url_for('redirect') }}" class="btn btn-secondary-custom">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}
