{% extends 'base.twig' %}

{% block title %}Accueil - La Chaudière Agenda{% endblock %}

{% block content %}
    <h2>Bienvenue sur La Chaudière Agenda</h2>
    <p>Consultez les événements culturels à venir, gérez-les facilement via l’administration.</p>

   
{% endblock %}
