{%extends "base.twig" %}

{% block title %}Sign In - MyGiftBox{% endblock %}

{% block content %}
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form action={{url_for('signin_post')}} method="POST">

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>


        <input type="hidden" name="csrf" value="{{ csrf_token }}">

        <button type="submit">Connexion</button>

    </form>
{% endblock %}