/* Variables de couleur et de style */
:root {
    --primary-color: #FF6347;
    /* Nouvelle couleur de branding (corail) */
    --secondary-color: #cba300;
    --text-color: #333;
    --light-text: #666;
    --background: #f1f1f1;
    --card-background: #fff;
    --border-color: #eaeaea;
    --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
    --link-color: #FF6347;
    /* Assorti à la couleur primaire */
    --hover-bg: #e0e0e0;
    --footer-bg: #FF6347;
    /* Assorti à la couleur primaire */
    --footer-text: #fff;
    --h1-color: #f1f1f1;
}

/* Reset basique */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: var(--text-color);
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: var(--primary-color);
    color: var(--h1-color);
    padding: 16px;
    text-align: center;
}

footer {
    background: var(--footer-bg);
    color: var(--footer-text);
    text-align: center;
    padding: 16px;
    margin-top: auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    color: var(--secondary-color);
}

.btn-primary-custom {
    background-color: var(--primary-color);
    color: var(--h1-color);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);
}

.btn-primary-custom:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.btn-secondary-custom {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);
}

.btn-secondary-custom:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.btn-muted-custom {
    background-color: var(--hover-bg);
    color: var(--text-color);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);
}

.btn-muted-custom:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.green-text-color {
    color: #28a745;
}